.home-content{
    .blue {
        color: #0073ec;
        cursor: pointer;
    }
    .action-button{
        width: 100%;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 13px;
    }
    .action-button-update,  .action-button-edit{
        display: inline-block;      
       
    }

    .search-section{
        padding-left: 15px;
    }
    .search-wrapper{
        margin-left :0 !important;
    }
    
}
.record-section{
    padding-top:0;
    padding-bottom:0;
}

.dx-template-wrapper .link-btn{
    color: #3567f1;
    cursor: pointer;
    text-decoration: underline;
}

.dateFilter-popup{
    position: fixed;
    background-color: #fff;
    width: 206px;
    height: 137px;
    z-index: 1;
    display: block;
    border: 1px solid #ccc;
    padding: 0px;
    -webkit-box-shadow: 2px 3px 5px 2px rgba(140,135,140,1);
    -moz-box-shadow: 2px 3px 5px 2px rgba(140,135,140,1);
    box-shadow: 2px 3px 5px 2px rgba(140,135,140,1);
}

.filter-icon{
    color: #aba9a9; 
    float: right;
    cursor: pointer;
    margin-top: 3px;
}

.progress-bar-contatainer {
    width: 57%;
    padding: 3px 3px;
    height: 10px;
    background: #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;

    .progress-bar {
        height: 4px;
        background: #384455;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
}

.column-header{
    display:block;
    text-align: center;
}

.notification{
    position:relative;
    font-size: 18px;
    float: right;
    padding-left: 20px;
    .fa{
        color:#008ff5;
        cursor: pointer;
    }
    span {
        position: absolute;
        font-size:12px;
        left: 25px;
        top: -11px;
        color:#008ff5;
        padding: 0;
        width: 18px;
        border-radius: 15px;
        -moz-border-radius:15px;
        -webkit-border-radius:15px;
        text-align: center;
        border: 1px solid #008ff5;
        background-color: white;
                
    }
    &.deactive{
        .fa{
            color:#ccc;
        }                
    }
}