.font-style-italic {
    padding-left: 5px !important;
}
.label-strong {
    padding-left: 5px !important;
}
p.cfo-sub-headingText {
    font-weight: 400;
}

.custom-btn-Edit {
    font-size: 12px;
    color: #2773d8;
    border: none;
    background: transparent;
    line-height: 10px;
}
.reopen-task-container{
    padding:15px;
    background: #f4f8fb;
}

.reopen-button{
    margin-right:10px;
}