<div class="row"><h4 class="col-md-12">General Information</h4></div>
<div class="row">
    <div class="col-sm-6">
        <label for="reqLoanAmt"><b>Q1. What is your name ?</b></label>
        <input tabindex="1" type="text"  class="ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength input-ctrl-txt form-control txt-control red"> 
    </div>                    
</div>
<div class="row">
    <div class="col-md-12"><label for="financeLbl"><b>Q2. Your Gender ?</b></label></div>
    <div class="col-md-12 radio">
        <label class="chk-padding">
            <input type="radio" name="loanFinancedType" value="Seller Financed" class="ng-pristine ng-untouched ng-valid ng-empty"><span class="cr"><i class="cr-icon fa fa-circle"></i></span>
            <span >Male</span>
        </label>
        <label class="chk-padding">
            <input type="radio" name="loanFinancedType" value="Seller Financed" class="ng-pristine ng-untouched ng-valid ng-empty"><span class="cr"><i class="cr-icon fa fa-circle"></i></span>
            <span >Female</span>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label for="reqLoanAmt"><b>Q3. Type your email</b></label>
        <input tabindex="1" type="email" class="ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength input-ctrl-txt form-control txt-control red"> 
    </div>                    
</div>
<div class="row">
    <div class="col-sm-6">
        <label for="reqLoanAmt"><b>Q4. Your phone number</b></label>
        <input tabindex="1" type="tel" class="ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength input-ctrl-txt form-control txt-control red"> 
    </div>                    
</div>