.error {
    color: red;
}

.mt-23 {
    margin-top: 2rem;
}

textarea {
    resize: none;
}

.step-del {
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
}
