<div class="admin-container container-fluid premium-buyer-container">
    <div class="row">
        <div class="col-md-12">
            <app-seller-list> </app-seller-list>
            <!-- <tabset (click)="adminRoute($event)">
                <tab heading="Buyers">
                    <div
                        class="tab-container-wrapp"
                        *ngIf="currentTab == 'Buyers'"
                    >
                    <app-premium-buyer-list> </app-premium-buyer-list>
                    </div>
                </tab>
               
                <tab heading="Sellers">
                    <div class="tab-container" *ngIf="currentTab == 'Sellers'">
                              <app-seller></app-seller>
                    </div>
                </tab>
            </tabset> -->
        </div>
    </div>
</div>
