     <div class="row" >
        <h4 class="col-md-12">Financial Information</h4>
    </div>
    
    <div class="row from-group mtop-20">
        <div class="col-md-6">
            <label for="reqLoanAmt"><strong>Annual Gross Revenue</strong></label>
            
            <input class="form-control" name="loanamt" type="text" />
        </div>
        <div class="col-md-6">
            <label for="reqLoanAmt"><strong>Annual Business Expenditures</strong></label>       
            <input class="form-control" name="loanamt" type="text"/>

        </div>
        <!-- <div class="col-md-4">
            <label for="reqLoanAmt"><strong>Ownership % of Business</strong></label>
            <input class="form-control" name="loanamt" id="ownership" 
            type="text" />
        
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="reqLoanAmt"><strong>Total Owner's Compensation</strong></label>

            <input class="form-control" name="loanamt" type="text" />
        </div>
        <div class="col-md-6">
            <label for="reqLoanAmt"><strong>Monthly Personal Debt Payments</strong></label>
            <input class="form-control" name="loanamt" type="text"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="reqLoanAmt"><strong>Ownership % of Business</strong></label>
            <input class="form-control" name="loanamt" id="ownership" 
            type="text" />
        
        </div>
    </div>






